pre {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  background: rgba(200, 200, 200, 0.04);
  padding: 0.5em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-family: "Open Sans", sans-serif;
}

.tatsumoto_logo {
  max-height: min(50vh, 320px);
  display: block;
  margin: 0 auto;
  filter: brightness(0) saturate(100%) invert(95%) sepia(3%) saturate(4556%) hue-rotate(188deg) brightness(85%) contrast(89%);
}
